body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
}

#title {
  font-size: 28px;
  color: navy;
  margin: 24px;
}

button {
  height: 40px;
  width: 120px;
}

#insult-content {
  margin: 12px;
  word-wrap: break-word;
  color: brown;
}

#insult {
  margin: 16px;
}

#invention-content {
  margin: 12px;
  word-wrap: break-word;
  color: blue;
}

#invention {
  margin: 16px;
}

#person-content {
  margin: 12px;
  word-wrap: break-word;
  color: green;
}

#person {
  margin: 16px;
}
