body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
}

button {
  height: 40px;
  width: 120px;
}

#insult-content {
  margin: 12px;
  word-wrap: break-word;
  color: brown;
}

#insult {
  margin: 16px;
}

#positive-content {
  margin: 12px;
  word-wrap: break-word;
  color: green;
}

#positive {
  margin: 16px;
}

#invention-content {
  margin: 12px;
  word-wrap: break-word;
  color: blue;
}

#invention {
  margin: 16px;
}

#person-content {
  margin: 12px;
  word-wrap: break-word;
  color: orangered;
}

#person {
  margin: 16px;
}

#french-checkbox {
  font-size: 12px;
  color: grey;
}

#creature-content {
  margin: 12px;
  word-wrap: break-word;
  color: green;
}

#creature {
  margin: 16px;
}
