body {
  background-color: lightblue;
}

h3 {
  color: navy;
  margin: 24px;
}

#gen-content {
  margin: 24px;
  word-wrap: break-word;
  font-size: 24;
  color: black;
}

#insult {
  color: brown;
}

#invention {
  color: blue;
}
